<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <h2><a href="">Meu primeiro post</a></h2>
            <h6>publicado: 14.06.2014, 12:14</h6>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div>
            <h2><a href="">Meu segundo post</a></h2>
            <h6>publicado: 14.06.2014, 12:14</h6>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>

        </div>        
        
        {% for post in postagens %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <h6>published: {{ post.published_date }}</h6>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>

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